* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: #474151;
    border-radius: 10px;
    padding: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#header {
    border-radius: 10px;
    background-color: #2B292E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#selections {
    background-color: #7044a0;
    padding: 2rem;
    border-radius: 10px 10px 0 0;
    border-bottom: px whitesmoke solid;
    width: 100%;
}

#header p {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    cursor: pointer;
    width: 100px;
    margin-left: 1rem;
    background-color: #474151;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    border-radius: 3px;
    transition: background .3s ease, color .3s ease;
}

#start {
    border: none;
    cursor: pointer;
    color: white;
    transition: background .3s ease, color .3s ease;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

.start {
    background: #7044a0;
    border-bottom: 2px solid #603a88;
}

.start:hover {
    background: #5F3A87;
}

.reset {
    background: #6e6978;
    border-bottom: 2px solid #605b6a;
}

.reset:hover {
    background: #36333b;
}

span {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

p {
    font-weight: 300;
    margin-bottom: 1.2rem;
}

.selections {
    color: white;
    padding: 1.6rem 0;
    margin-bottom: 2rem
}

.bottom-text {
    line-height: 2rem;
}

.puzzle {
    display: flex;
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}

.puzzleWin {
    color: green;
}

.puzzleLose {
    color: red;
}

#reminder {
    color:rgb(138, 138, 138);
    font-size: smaller;
}